:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    background: hsla(204, 19%, 9%, 1);
    margin: 0;
    padding: 1rem;
}

canvas {
    border-radius: 2%;
    margin-bottom: 1rem;
}

.split-container {
    display: flex;
}

.column {
    width: 50%;
}

.volume-component h2 {
    display: inline;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 4em;
    color: white;
    margin-block: 1rem;
}

h2 {
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin-block: 1rem;
}

#p5_loading {
    font-family: 'Josefin Sans', sans-serif;
    color: #F6EA7A;
    font-size: 3rem;
}

/* Controls CSS */
.controls-grid {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.box {
    height: 50px;
    width: 50px;
    border-radius: 10%;
    border: 2px solid white;
    cursor: pointer;
}

.box h3 {
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-block: 15px;
}

.control-piece p {
    color: white;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 1rem;
    font-size: 1rem;
    width: 9.5rem;
}

.control-piece {
    display: flex;
    margin-left: 2rem;
    margin-block: 1rem;
}

.control-box {
    border: 2px solid #F6EA7A;
}

.reset-elements {
    border: 2px solid #F9BA52;
}

.reset-colors {
    border: 2px solid #E584A9;
}

.control-box-heading {
    margin-bottom: 0;
    font-size: 2rem;
    color: #F6EA7A;
    font-family: 'Josefin Sans', sans-serif;
}

.reset-elements-heading {
    margin-bottom: 0;
    font-size: 2rem;
    color: #F9BA52;
    font-family: 'Josefin Sans', sans-serif;
}

.reset-colors-heading {
    margin-bottom: 0;
    font-size: 2rem;
    color: #E584A9;
    font-family: 'Josefin Sans', sans-serif;
}

#instructions {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 1rem;
    color: #F6EA7A;
    font-family: 'Josefin Sans', sans-serif;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }
    
    .split-container {
        display: block;
    }

    .left, .right {
        width: 80%;
        margin: auto;
    }

    .left {
        display: grid;
        justify-content: center;
    }
}