body {
    background: lightblue;
}

.colors-container {
    display: flex;
    justify-content: center;
    padding-block: 100px;
    background: coral;
}

.box {
    height: 100px;
    width: 100px;
    background-color: orange;
    border: 1px solid lightslategray;
}